---
// src/pages/cursos/[id].astro
import MainLayout from '../../layouts/MainLayout.astro';
import * as cursoService from "../../services/cursoService";
import type { Student } from "../../services/studentService"; // Importa la interfaz Student
import {API_URL} from "../../constantes";
export const prerender = false;
const { id } = Astro.params;
const cursoId = Number(id);
const curso = await cursoService.getCursoById(cursoId);
const estudiantes: Student[] = await cursoService.getEstudiantesPorCurso(cursoId);

---

<MainLayout>
  <div class="bg-white shadow-md rounded-md p-4 mb-4">
    <h2 class="text-2xl font-bold">{curso?.nombre}</h2>
    <p class="text-gray-700">{curso?.descripcion}</p>
    <p class="text-gray-700">Créditos: {curso?.creditos}</p>

    <h3 class="text-xl font-semibold mt-4">Estudiantes</h3>
    {estudiantes.length > 0 ? (
      <ul>
        {estudiantes.map((estudiante) => (
          <li key={estudiante.id} class="py-2 border-b border-gray-200">
            {estudiante.nombre} {estudiante.apellido} ({estudiante.email})
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-gray-500">No hay estudiantes inscritos en este curso.</p>
    )}

        <h3 class="text-xl font-semibold mt-4">Agregar estudiante</h3>
        <form id="agregarEstudianteForm">
            <label for="studentId">ID del estudiante:</label>
            <input type="number" id="studentId" name="studentId" required />
            <button type="button" onclick="agregarEstudianteAlCurso()">Agregar</button>
        </form>
  </div>
    <script define:vars={{ cursoId }}>
        async function agregarEstudianteAlCurso() {
            const studentId = document.getElementById('studentId').value;

            try {
                const response = await fetch(`${API_URL}/${cursoId}/estudiantes`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({id:studentId}),
                });

                if (!response.ok) {
                    throw new Error('Error al agregar estudiante');
                }

                console.log('Estudiante agregado exitosamente');
                window.location.reload(); // Recargar la página para mostrar la lista actualizada de estudiantes
            } catch (error) {
                console.error('Error al agregar estudiante:', error);
                alert('Error al agregar estudiante');
            }
        }
    </script>
</MainLayout>